set -gx GIT_AUTHOR_NAME="Max Bucknell"
set -gx GIT_AUTHOR_EMAIL="me@maxbucknell.com"

set -gx NODE_VERSION "23"

set -gx DOTFILES_PATH "$HOME/dotfiles"

set -gx DAILY_NOTES_PATH "$HOME/Dropbox (Maestral)/Daily Notes"
