bin/misc
fish/fish_history
fish/fish_read_history
fish/fishd*
configstore
hub

vim/vim.symlink/.netrwhist
vim/vim.symlink/plugged
vim/vim.symlink/plugged-update

nvim/nvim.symlink/.netrwhist
nvim/nvim.symlink/plugged
nvim/nvim.symlink/plugged-update

zsh/zsh.symlink/liquidprompt
zsh/zsh.symlink/zsh-completions
zsh/zsh.symlink/zsh-syntax-highlighting
zsh/zsh.symlink/secret

__pycache__
*.pyc

*.mdb
zed/zed.xdg.symlink/prompts/index.json
