bin/misc
configstore

fish/fish.xdg.symlink/conf.d/secret.fish
fish/fish.xdg.symlink/fish_variables

vim/vim.xdg.symlink/.netrwhist
vim/vim.xdg.symlink/plugged
vim/vim.xdg.symlink/plugged-update

zsh/zsh.symlink/liquidprompt
zsh/zsh.symlink/zsh-completions
zsh/zsh.symlink/zsh-syntax-highlighting
zsh/zsh.symlink/secret

zed/zed.xdg.symlink/conversations

python/venv

__pycache__
*.pyc

*.mdb
