snippet mcomposer
\{
    "name": "${1:vendor}/${2:module}-${3:module-name}",
    "description": "${4:Elevator pitch}",
    "require": \{
        "php": "~5.6.0|~7.0.0"$0
    \},
    "type": "magento2-$2",
    "license": "${5:proprietary}",
    "autoload": \{
        "files": [
            "registration.php"
        ],
        "psr-4": \{
            "${1/(^|-)(\w)/\u$2/g}\\\\${3/(^|-)(\w)/\u$2/g}\\\\": ""
        \}
    \}
\}
endsnippet

