# Python
#
# `mbutils` is a collection of tooling I've built to do some intelligent
# stuff around PHP tooling.
# Found in lib/python/mbutils.py
global !p
import mbutils
import os

def full_path(filename):
    cwd = os.getcwd()
    filepath = os.path.join(cwd, filename)

    return os.path.dirname(filepath)
endglobal

snippet field
/**
 * @var ${1:Type}
 */
private ${2:\$fieldName};
endsnippet
