snippet todo "Make a To-Do List!" b
- [ ] ${0:What would you like to do..?}
endsnippet

snippet --- "Horizontal Rule" b
--------------------------------------------------------------------------------

$0
endsnippet
